@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


//colors
$white: rgb(247, 244, 244);
$primaryLight: #e2e2e2;
$secondary: #d84019;
$primaryDark: #4a35c5;
$secondaryLight: #f5f5f5;
$secondaryDark: #3b28a8;
$darkGrey: rgb(88, 86, 86);
$darkBlue: #180d5a;
$lightBlue: rgb(197, 198, 247); 

//fonts
$primary-font-family: '', serif;
$secondary-font-family: 'Roboto', sans-serif;